# Exercici 1
## Crea una llista que agrupi els mesos de l’any en trimestres (1T: gener, febrer i març; 2T: abril, maig, juny...), és a dir, una llista amb 4 llistes dins.

In [17]:
T1 = ["gener", "febrer", "març"]
T2 = ["abril", "maig", "juny"]
T3 = ["juliol", "agost", "setembre"]
T4 = ["octubre", "novembre", "decembre"]
mesos = [T1, T2, T3, T4]
mesos

[['gener', 'febrer', 'març'],
 ['abril', 'maig', 'juny'],
 ['juliol', 'agost', 'setembre'],
 ['octubre', 'novembre', 'decembre']]

# Exercici 2
## Crea un codi que et permeti accedir a:

### El segon mes del primer trimestre.
### Els mesos del primer trimestre.
### Setembre i octubre.

In [20]:
"El segon mes del primer trimestre és", T1[1]

('El segon mes del primer trimestre és', 'febrer')

In [21]:
"Els mesos segon trimestre són", T1

('Els mesos segon trimestre són', ['gener', 'febrer', 'març'])

In [3]:
print(mesos[2][2], mesos[3][0])

setembre octubre

# Exercici 3
## Crea una llista amb nombres desordenats i respon a les següents preguntes:

### Quants números hi ha?
### Quantes vegades apareix el número 3.
### Quantes vegades apareixen els nombres 3 i 4?
### Quin és el número més gran?
### Quins són els 3 números més petits?
### Quin és el rang d’aquesta llista?

In [4]:
from random import randint 
nombres = [randint(1,50) for i in range(0,50)]
print(nombres)

[46, 5, 2, 24, 43, 31, 29, 32, 23, 6, 8, 32, 49, 11, 12, 2, 33, 46, 12, 46, 1, 1, 3, 48, 43, 27, 16, 43, 29, 46, 37, 39, 6, 48, 20, 20, 27, 48, 28, 28, 29, 30, 4, 18, 32, 42, 28, 38, 24, 28]

In [5]:
print(len(nombres))

50

In [6]:
nombres.count(3)

1

In [7]:
nombres.count(4)

1

In [8]:
nombres.count(3) + nombres.count(4)

2

In [9]:
maxim = max(nombres)
print(maxim)

49

In [10]:
import heapq
print(heapq.nsmallest(3, nombres))

[1, 1, 2]

In [11]:
rang =max(nombres) - min(nombres)
rang

48

# Exercici 4
## Crea un diccionari de la següent forma i respon a les preguntes:
### compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }
#### Afegeix alguna fruita més
#### Quant han costat les peres en total?
#### Quantes fruites hem comprat en total?
#### Quina és la fruita més cara?

In [1]:
compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }
print(compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}}

In [2]:
compra["Platans"] = {"Qty" : 6, "€": 0.75}
(compra)

{'Pomes': {'Qty': 5, '€': 0.42},
 'Peres': {'Qty': 3, '€': 0.66},
 'Platans': {'Qty': 6, '€': 0.75}}

In [3]:
print(compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}, 'Platans': {'Qty': 6, '€': 0.75}}

In [14]:
print("el preu total de les peres és de", compra["Peres"]["Qty"]*compra["Peres"]["€"], "€")

el preu total de les peres és de 1.98 €

In [15]:
print("El nombre total de fuites comprades és de", compra["Pomes"]["Qty"]+compra["Peres"]["Qty"]+compra["Platans"]["Qty"], "unitats")

El nombre total de fuites comprades és de 14 unitats

In [12]:
print("La fruita més cara té un preu de", max(compra["Peres"]["€"], compra["Pomes"]["€"], compra["Platans"]["€"]), "€")

La fruita més cara té un preu de 0.75 €